body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  margin: 1px;
}

div.quote {
  color: blueviolet;
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  background-color: white;
  background-image: url("https://wallpapers.com/images/high/studying-1548-x-1024-background-9d30kvrsghhc9xbh.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 90vw;
  margin-left: 5%;
  margin-right: 5%;
}